:root {
    /* --theme-color   : orange; */
}
.app-nav > a {
    margin: 0 1rem;
    padding: 5px 0;
}
.sidebar li>p {
    /* font-weight: 600; */
    margin: 0;
    color: darkgrey;
}

@media (max-width: 30em) {
    .markdown-section .table-wrapper td::before {
        display: inline;
        min-width: 4em !important;
        max-width: 8em;
        font-weight: bold;
        text-align: left;
    }
}